#box {
  display: block;
  width: 350px;
  margin: auto;
  height: auto;
  border: 1px solid grey;
  font-family: Verdana, sans-serif;
  background-color: white;
}

#boxHeader {
    background-color: #721277;
    padding: 0px;
}

#boxHeader div {
    height: 50px;
    width: 90%;
    margin: auto;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#borrowKey {
    color: white;
}

#close {
    color: white;
    font-size: 30px;
    display: block;
/*    padding: 0px 5px;*/
}

#text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px 5px;
}

#link {
    background-color: #e6d5e7;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    color: black;
    padding 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
/*    cursor: pointer;*/
}

#link:hover {
    background-color: #ab82b2;
    color: white;
    cursor: pointer;
}

#boxFooter div {
    background-color: #721277;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}