#box {
  display: block;
  width: 350px;
  margin: auto;
  height: auto;
  border: 1px solid grey;
  font-family: Verdana, sans-serif;
  background-color: white;
}

#borrowpopup, #returnpopup {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
/*    background-color: aquamarine;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
/*    margin: 5% auto auto auto;*/
}

#boxHeader {
    background-color: #721277;
    padding: 0px;
}

#boxHeader div {
    height: 50px;
    width: 90%;
    margin: auto;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#borrowKey, #returnKey {
    color: white;
}

#borrowclose, #returnclose {
    color: white;
    font-size: 30px;
    display: block;
/*    padding: 0px 5px;*/
}

#text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px 5px;
}

#link {
    background-color: #e6d5e7;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    color: black;
    padding 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    /* cursor: pointer; */
}

#link:hover {
    background-color: #ab82b2;
    color: white;
    cursor: pointer;
}

#openBorrowBox, #openReturnBox {
    background-color: #ab82b2;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 110px;
    height: 50px;
    border-radius: 8px;
}

#openBorrowBox:hover, #openReturnBox:hover {
    background-color: #e6d5e7;
    color: black;
    cursor: pointer;
}

#boxFooter div {
    background-color: #721277;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
